@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;

}

button {
    margin-bottom: 20px;
    padding: 10px;
}

form {
    border: 1px solid rgb(4, 10, 68);
    background-color: rgb(250, 243, 221, 0.5);
    border-radius: 5px;
}

fieldset {
    border: 0;
    margin-top: 20px;
}

body {
    font-family: 'Outfit', sans-serif;
    background-size: cover;
    display: grid;
    line-height: 40px;
    displey: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../imagens/fundo1.jpg");
    background-repeat: repeat;


}

header {
    position: relative;
    text-align: center;
    margin-top: 15px;
    border: 1px solid rgb(4, 10, 68);
    background-color: rgb(250, 243, 221, 0.5);
    border-radius: 5px;
}

.imagem {
    margin-top: 31px;
    margin-left: 15px;
    float: left;
}

.cadastro {
    font-size: 45px;
    float: left;
    margin-left: 38px;
    padding: 10px;
    margin-top: 15px;
}


.campos {
    font-size: 20px;
    text-align: justify;
    margin-left: 40px;
    padding: 5px;
}

.campos input:focus,
.campo select:focus,
textarea:focus {
    background: rgba(182, 237, 247, 0.555);
}

.checkbox {
    display: block;
    padding: 7px;
    margin-left: -5px
}

.container {
    display: block;
    padding: 7px;
    margin-left: -8px
}

.enviar {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    background-color: #1E90FF;
    color: rgb(250, 243, 221);
    width: 80px;
    margin-top: 20px;
    margin-left: 45px;
    transition-property: background-color, color;
    transition-duration: 1s;
    border-radius: 5px;
    border-color: rgb(143, 192, 169);
    cursor: pointer;
}

.apagar {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    background-color: #DC143C;
    color: rgb(250, 243, 221);
    width: 100px;
    margin-top: 20px;
    margin-left: 45px;
    transition-property: background-color, color;
    transition-duration: 1s;
    border-radius: 5px;
    border-color: #d30e14de;
    cursor: pointer;
}

.enviar:hover {
    transform: scale(1.2);
    background-color: #2d2d9e;
}

.apagar:hover {
    transform: scale(1.2);
    background-color: #e90e0e;
}

.apagar {
    margin-left: 10px;
}

footer{
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}